// TODO: DEFINE YOUR BUTTON STYLES HERE

@import 'colors';
@import 'animations';
@import 'elements';

$font-stack: Helvetica, sans-serif;

#new-button {

}

.btn {
	@extend .button;
	font-family: $font-stack;
	background-color: $accent-blue;
	color: $light-color;
	width: 220px;
	&:hover {
		color: $accent-blue;
		background-color: $light-color;
	}

}

.error {
	animation: shake 0.5s;
	span {
		display: none;
	}
	&:after {
		content: "Error!";
		animation: scaleFromUp 0.5s;
		color: $error-red;
	}
}

.disabled {
	cursor: auto;
	color: $disabled-color;
	background: $primary-color;
	border-color: $primary-color;
  	&:hover {
  		color: $disabled-color;
  		background: $primary-color;
  	}
}
