// TODO: DEFINE YOUR BUTTON STYLES HERE
@import 'fonts';
@import 'colors';
@import 'animations';

@mixin button-font {
	font-family: $font-stack;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: 700;
}

@mixin button($size, $accent-color, $primary-color) {
	@include button-font;
	color: $primary-color;
	background-color: $accent-color;
	width: $size;
	border: 3px solid $accent-color;
	border-radius: 35px;
	padding: 10px 20px;
	margin: 15px 30px;
	outline: none;
	cursor: pointer;
	transition: all 0.3s;
	&:hover {
		color: $accent-color;
		background-color: $primary-color;
	}
	span {
		&:after {
			font-family: $icon-font;
			font-size: 18px;
			content: '\E315';
			position: fixed;
			margin: -1px 0 0 14px;
			animation: bounce 2s infinite;
		}	
	}
}

@mixin disabled-style {
	color: $disabled-color;
  	background: $gray;
}

.btn {
	@include button(220px, $gust-blue, $white)
}

.error {
	animation: shake 0.5s;
	span {
		display: none;
	}
	&:after {
		content: "Error!";
		animation: scaleFromUp 0.5s;
		color: $error-red;
	}
}

.disabled {
	@include disabled-style;
	border-color: $gray;
	cursor: auto;
  	&:hover {
  		@include disabled-style;
  	}
  	span {
  		&:after {
  			opacity: 0.9;
  			animation: none;
  			margin-left: 4px;
  		}
  	}
}